################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EasyDatabaseCompare/obj
/EasyDatabaseCompare/bin
/.vs
/packages
/DataAccessLib/obj
/DataAccessLib/bin
/ComparisonLib/bin/Debug
/ComparisonLib/obj/Debug
/ComparisonLibTests/obj/Debug
/ComparisonLibTests/bin/Debug
/DataAccessLibUnitTest/obj/Debug
/DataAccessLibUnitTest/bin/Debug
/ComparisonLib/bin/x86/Debug
/DataModelsLib/obj
/DataModelsLib/bin
/ComparisonLib/obj
